
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankMaster](
	[BankId] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [nchar](200) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_BankMaster] PRIMARY KEY CLUSTERED 
(
	[BankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 07-01-2024 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[CustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerCast] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerAddress] [nvarchar](max) NULL,
	[CADistrict] [int] NULL,
	[CATaluka] [int] NULL,
	[PermanentCustAddress] [nvarchar](max) NULL,
	[CustBusinessAddress] [nvarchar](max) NULL,
	[MobNo] [nvarchar](max) NULL,
	[WhatsAppNo] [nvarchar](50) NULL,
	[BirthDate] [date] NULL,
	[JoinDate] [date] NULL,
	[ProfilePic] [nvarchar](max) NULL,
	[AdharCardImage] [nvarchar](max) NULL,
	[PanCardImage] [nvarchar](max) NULL,
	[CouponCode] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[ESign] [nvarchar](max) NULL,
	[PRTaluka] [int] NULL,
	[PRDistrict] [int] NULL,
	[MobNo2] [nvarchar](50) NULL,
	[SameAddress] [bit] NULL,
 CONSTRAINT [PK_CustomerMaster] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 07-01-2024 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[Id] [int] NULL,
	[DisName] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMaster]    Script Date: 07-01-2024 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMaster](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNo] [bigint] NULL,
	[ReceiptDate] [datetime] NULL,
	[CustomerId] [int] NULL,
	[PaymentMode] [nvarchar](50) NULL,
	[BankId] [int] NULL,
	[Amount] [money] NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_PaymentMaster] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TalukaMastar]    Script Date: 07-01-2024 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TalukaMastar](
	[Id] [int] NULL,
	[Talukaname] [nvarchar](500) NULL,
	[Distid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 07-01-2024 22:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Userid] [int] NULL,
	[UserName] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[Compid] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BankMaster] ON 

INSERT [dbo].[BankMaster] ([BankId], [BankName], [IsActive]) VALUES (1, N'Bank of Baroda                                                                                                                                                                                          ', 1)
INSERT [dbo].[BankMaster] ([BankId], [BankName], [IsActive]) VALUES (2, N'Bank of India                                                                                                                                                                                           ', 1)
INSERT [dbo].[BankMaster] ([BankId], [BankName], [IsActive]) VALUES (3, N'Bank of Maharashtra                                                                                                                                                                                     ', 1)
GO
SET IDENTITY_INSERT [dbo].[BankMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerMaster] ON 

SET IDENTITY_INSERT [dbo].[CustomerMaster] OFF
GO
INSERT [dbo].[DistrictMaster] ([Id], [DisName]) VALUES (1, N'Kachchh')
INSERT [dbo].[DistrictMaster] ([Id], [DisName]) VALUES (2, N'BanasKantha')
INSERT [dbo].[DistrictMaster] ([Id], [DisName]) VALUES (3, N'Patan')
GO
INSERT [dbo].[TalukaMastar] ([Id], [Talukaname], [Distid]) VALUES (1, N'Lakhpat', 1)
INSERT [dbo].[TalukaMastar] ([Id], [Talukaname], [Distid]) VALUES (2, N'Rapar', 1)
INSERT [dbo].[TalukaMastar] ([Id], [Talukaname], [Distid]) VALUES (3, N'Bhachau', 1)
GO
INSERT [dbo].[UserMaster] ([Userid], [UserName], [Password], [Compid]) VALUES (1, N'omsai', N'omsai', 1)
GO
/****** Object:  Index [IX_PaymentMaster]    Script Date: 07-01-2024 22:56:51 ******/
ALTER TABLE [dbo].[PaymentMaster] ADD  CONSTRAINT [IX_PaymentMaster] UNIQUE NONCLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
