ALTER TABLE PaymentMaster
ADD [CreatedAt] [datetime] NULL

ALTER TABLE PaymentMaster
ADD [UpdatedAt] [datetime] NULL

ALTER TABLE PaymentMaster
ADD [CreatedBy] [nvarchar](50) NULL

ALTER TABLE PaymentMaster
ADD [UpdatedBy] [nvarchar](50) NULL