@{
    ViewBag.Title = "Sub Center";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserId = Session["UserId"] != null ? Convert.ToInt32(Session["UserId"]) : 0;
}

<input type="hidden" id="hdnUserId" value="@UserId" />
<input type="hidden" id="hdnSubCenterId" value="" />
<input type="hidden" id="hdnvillageId" value="" />
<input type="hidden" id="isEdit" value="false" />

<h2>Sub Center Master</h2>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Sub Center Master</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @*<div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Sub Center ID</label>
                            <input type="text" class="form-control" id="txtSubCenterDetailsId" placeholder="" disabled="disabled">
                        </div>*@
                    <div class="form-group col-md-6">
                        <label for="cmbrPHCCenter">PHC Center</label>
                        <select class="form-control select2" id="cmbrPHCCenter" onchange="getVillage(this.value)" style="width: 100%;">
                            <option selected="selected" value="0">Select a PHC Center</option>

                            @foreach (var phc in ViewBag.pHCCenter)
                            {
                                <option value="@phc.id">@phc.phcname</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cmbrPHCCenter">Sub Center Village Name</label>
                        <select class="form-control select2" id="cmbvillagename" style="width: 100%;">
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Sub Center</label>
                            <input type="text" class="form-control" id="txtSubCenterDetailsName" placeholder="Enter Sub Center Name">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <button type="button" id="saveSubCenter" class="btn btn-sm btn-primary">Save Details</button>
                        <button type="button" id="updateSubCenter" style="display:none;" class="btn btn-sm btn-primary">Save Changes</button>
                        <a href="/PHCDetail/SubCenterList" class="btn btn-sm btn-primary">View List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AdminLTE -->
<script src="~/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/plugins/toastr/toastr.min.js"></script>
<!-- date-range-picker -->
<script src="~/Scripts/SubCenter/subcenter.js"></script>
<script>
    function getVillage(Phcid) {

        $.ajax({
            url: '/PHCdetail/GetVillageList?Phcid=' + Phcid,
            type: 'GET',
            contentType: 'application/json',
            success: function (result) {
                if (result && result.length > 0) {
                    $('#cmbvillagename').empty();

                    if (result && result.length > 0) {
                        result.forEach(function (villmast) {
                            $('#cmbvillagename').append('<option value="' + villmast.VillageMasterId + '">' + villmast.VillageName + '</option>');
                        });
                    } else {
                        cmbTaluka.append('<option value="">No Village found</option>');
                    }

                    // Initialize/select the first option
                    $('#cmbvillagename').val(result.length > 0 ? result[0].VillageMasterId : '');

                    if ($('#hdnvillageId').val()) {
                        $('#cmbvillagename').val($('#hdnvillageId').val());
                    }



                    $('#cmbvillagename').trigger('change');
                } else {
                    console.log('No Village found.');
                }
            },
            error: function (error) {
                console.error('Error:', error.responseText);
                // Handle the error here
            }
        });
    }
</script>
