<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!--====== Title ======-->
    <title>Pos offline</title>
    <!--====== Favicon Icon ======-->
    <!--====== Google Fonts CSS ======-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/js/jquery.min.js"></script>
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
</head>
<body>
    <div>
        @RenderBody()
        <!--====== Main Container End ======-->
        <!--====== Plugin js ======-->
        
        <!--====== Bootstrap js ======-->
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <!--====== Main js ======-->
        <script src="~/js/main.js"></script>

    </div>
</body>
</html>
